@page
@model WebsiteApplication.Pages.DestinationsModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Destination Cards</title>
    <style>
        .destination-cards {
            display: flex;
            flex-wrap: wrap; 
            gap: 20px; 
            justify-content: flex-start; 
        }

        .card {
            position: relative;
            width: 190px; 
            height: 254px; 
            box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
            cursor: pointer;
            transition: all 120ms;
            display: flex;
            flex-direction: column; 
            align-items: center;
            justify-content: center;
            background: #fff;
            padding: 0.5em;
            padding-bottom: 3.4em;
            flex: 0 0 auto; 
        }

            .card::after {
                content: "Select!";
                padding-top: 1.25em;
                padding-left: 1.25em;
                position: absolute;
                left: 0;
                bottom: -60px;
                background: #00AC7C;
                color: #fff;
                height: 2.5em;
                width: 90%;
                transition: all 80ms;
                font-weight: 600;
                text-transform: uppercase;
                opacity: 0;
            }

            .card:hover::after {
                bottom: 0;
                opacity: 1;
            }

            .card:active {
                transform: scale(0.98);
            }

                .card:active::after {
                    content: "Added !";
                    height: 3.125em;
                }

        .text {
            max-width: 55px;
        }

        .image {
            background: rgb(241, 241, 241);
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
        }

        .title {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.9em;
            position: absolute;
            left: 0.625em;
            bottom: 1.875em;
            font-weight: 400;
            color: #000;
        }

        .price {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 0.9em;
            position: absolute;
            left: 0.625em;
            bottom: 0.625em;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="destination-cards">
        @foreach (var destination in Model.Destinations)
        {
            <form method="post" asp-page-handler="ChooseDestination" asp-route-destinationID="@destination.DestinationId">
                <button type="submit" class="card" onclick="this.form.submit();">
                
                    <div class="image">
                    
                    </div>
                    <div class="text">
                        <div class="title">
                       
                        @destination.Name
                        </div>
                        <div class="price">
                       
                        @destination.Distance km
                        </div>
                    </div>
                </button>
            </form>
        }
    </div>
</body>
</html>
